name: Pull Requests

on:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '**.md'
    branches:
      - main

jobs:
  terraform-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Render terraform docs and push changes back to PR
      uses: terraform-docs/gh-actions@v1
      with:
        working-dir: terraform
        output-file: README.md
        output-method: inject
        git-push: "true"

  terraform-validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y tox
        sudo snap install terraform --classic
    - name: Validate Terraform
      run: |
        tox -e terraform-validate

  terraform-test:
    needs: terraform-validate
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y tox
        sudo snap install terraform --classic
        sudo snap install concierge --classic
        sudo concierge prepare --preset microk8s
    - name: Test Terraform
      run: |
        tox -e terraform-test

  pull-request:
    name: PR
    uses: canonical/observability/.github/workflows/charm-pull-request.yaml@v0
    secrets: inherit
    with:
      charmcraft-channel: latest/stable
      juju-channel: 3.6/stable
