name: Release Charm to Edge and Publish Libraries

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '**.md'
    branches:
      - main
      - track/**

jobs:
  release:
    uses: guillaumebeuzeboc/observability/.github/workflows/charm-release.yaml@Guillaumebeuzeboc-patch-2
    with:
      juju-channel: "3.6/stable"
    secrets:
      CHARMHUB_TOKEN: ${{ secrets.charmhub_token }}
